@charset "UTF-8";
body {
  /* font-family: PingFang-SC-Bold, sans-serif; */
  font-family: "Open Sans", sans-serif;
  /* font-family: "Helvetica Neue",Helvetica,"PingFang SC","Hiragino Sans GB","Microsoft YaHei","微软雅黑",Arial,sans-serif; */
  font-size: 14px;
  background-color: #1c1c1c;
  color: #666;
}

/*css 初始化 */
html,
body,
ul,
li,
ol,
dl,
dd,
dt,
p,
h1,
h2,
h3,
h4,
h5,
h6,
form,
fieldset,
legend,
img {
  margin: 0;
  padding: 0;
}

fieldset,
img,
input,
button {
  /*fieldset组合表单中的相关元素*/
  border: none;
  padding: 0;
  margin: 0;
  outline-style: none;
}

ul,
ol {
  list-style: none;
  /*清除列表风格*/
}

select,
input {
  vertical-align: middle;
}

select,
input,
textarea {
  /*font-size: 12px;*/
  margin: 0;
}
select {
  background: transparent;
  border: none;
  outline: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  outline: none;
}
textarea {
  resize: none;
}

/*防止多行文本框拖动*/

img {
  display: block;
}

table {
  border-collapse: collapse;
  /*合并外边线*/
}

.clearfix:before,
.clearfix:after {
  content: "";
  display: table;
}

.clearfix:after {
  clear: both;
}

.clearfix {
  *zoom: 1;
  /*IE/7/6*/
}

a {
  color: #666;
  text-decoration: none;
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0); /*取消点击时的蓝色*/
}

html {
  color: #222;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  text-decoration: none;
  font-weight: normal;
  /*这个地方不再设置100%*/
}

s,
i,
em {
  font-style: normal;
  text-decoration: none;
}
pre {
 color:#444;
 margin:15px auto;
 margin-right: 15px;
 padding:20px 15px;
 border:3px dashed #ddd;
 border-left:8px solid #bbb;
 background:#fff url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABMAAAAmCAIAAACphTeFAAAAJElEQVRIx2N4RS5gGNU5qnNU56hOZJ2fyQWjOkd1juoc1YkMAKDL4lkok3p7AAAAAElFTkSuQmCC') repeat;
 white-space:pre-wrap;
 word-wrap:break-word;
 letter-spacing:1.5px;
 font:14px/25px 'Comic Sans MS','courier new';
 line-height:22px;
 background-size:100% 44px;
 overflow-y: hidden;
} 